*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

.box{
    height: 100px;
    width: 320px;
}

.one{
    background: pink;
    flex-shrink: 1;
}

.two{
    background: turquoise;
    flex-shrink: 2;
}

.three{
    background: silver;
    flex-shrink: 3;
}
